{
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": [
          "./"
        ],
        "extensions": [
          ".js",
          ".ios.js",
          ".android.js",
          ".ts"
        ],
        "alias": {
          "_actions": "./src/redux/actions",
          "_assets": "./src/assets",
          "_atom": "./src/views/components/Atom",
          "_constant": "./src/constant",
          "_hooks": "./src/hooks",
          "_molecule": "./src/views/components/Molecule",
          "_organism": "./src/views/components/Organism",
          "_services": "./src/services",
          "_theme": "./src/Theme"
        }
      }
    ]
  ]
}